@font-face {
    font-family: 'raleway';
    src: url('Raleway-VariableFont_wght.ttf');
    src: url('Raleway-VariableFont_wght.ttf?#iefix') format(embedded-opentype), url('Raleway-Italic-VariableFont_wght.ttf')
}

@font-face {
    font-family: 'opensans';
    src: url('OpenSans-Regular.ttf');
    src: url('OpenSans-Regular.ttf?#iefix') format(embedded-opentype), url('OpenSans-Italic.ttf')
}

@font-face {
    font-family: 'bonanova';
    src: url('BonaNova-Regular.ttf');
    src: url('BonaNova-Regular.ttf?#iefix') format(embedded-opentype), url('BonaNova-Italic.ttf')
}

@font-face {
    font-family: 'yomogi';
    src: url('Yomogi-Regular.ttf');
}

@font-face {
    font-family: 'timeburner';
    src: url('Timeburner-xJB8.ttf');
}

@font-face {
    font-family: 'quicksand';
    src: url('Quicksand-VariableFont_wght.ttf');
}