@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::selection {
		@apply bg-[#1D244B] text-white;
	}
}

html {
	position: relative;
	min-height: 100%;
	height: auto;
}

/* Apply basic global styles to the body: */
body {
	@apply antialiased text-gray-900 bg-white font-manrope;
}

/* Remove trailing margin from forms for some browsers: */
form {
	margin-block-end: 0;
}

/* Sticky helper tools */
.helper-tools {
	position: sticky;
	top: 0;
}

@font-face {
	font-family: manrope-extrabold;
	src: url(../public/fonts/Manrope-Bold.ttf);
  }

/* Update subtitles button */
.update-subtitles-button {
	text-align: center;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	width: 50%;
	margin-bottom: 0.75rem;
	background-color: rgba(255, 255, 255);
	border-radius: 9999px;
	cursor: pointer;
	outline: 2px solid transparent;
	outline-offset: 2px;
	border-color: rgba(243, 244, 246);
	box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.05);
	font-family: manrope-extrabold;
}

.update-subtitles-button:hover {
	background-color: rgba(243, 244, 246)
}

/* NOTE: Webkit autofill can be very annoying, and leave the auto-filled content invisible to the user. */
/* We try to avoid this by setting this to a sane default, which seems to work based on some experimentation. */
input:-webkit-autofill {
	-webkit-text-fill-color: theme('colors.gray.800') !important;
}

input::-webkit-input-placeholder,
textarea::placeholder {
	@apply text-sm;
}

.header {
	z-index: 1000;
	background: hsla(0, 0%, 100%, 0.8);
	filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.03));
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: saturate(180%) blur(5px);
	transition: all 0.3s ease-in-out;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50
}
